<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS - загружаем с нашего сервера -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- jQuery - загружаем с нашего сервера -->
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>

    <!-- Popper.js - загружаем с нашего сервера -->
    <script th:src="@{/js/popper.min.js}"></script>

    <!-- Bootstrap JS - загружаем с нашего сервера -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Работа мечты!</title>
</head>
</html>